td, th{
    border: 2px solid;
}
table{
    text-align: center;
    border-collapse: collapse;
}
caption{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
th{
    background-color: aquamarine;
}
td{
    background-color: rgb(213, 241, 232);
}
